<html>
<head>
    <title>Chat WebSocket</title>

    <script data-th-src="@{js/sockjs-0.3.4.js}"></script>
    <script data-th-src="@{js/stomp.js}"></script>
    <script data-th-src="@{js/index.js}"></script>
</head>

<div>
    <div>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    <br/>
    <div id="conversationDiv">
        <input type="text" id="text" placeholder="Write a message..."/>
        <button id="sendMessage" onclick="sendMessage();">Send</button>
        <p id="response"></p>
    </div>
    <button onclick="notifyMe()">Notify me!</button>
</div>

</body>
</html>